<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531224139665-0dgvtfc0u3frhl5ue55gk33eoqrsgqr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531224139665-0dgvtfc0u3frhl5ue55gk33eoqrsgqr4</string>
	<key>API_KEY</key>
	<string>AIzaSyB7tKDWoTWaknPkEt7gJyTQALOQj1BcyEI</string>
	<key>GCM_SENDER_ID</key>
	<string>531224139665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kzms.cache</string>
	<key>PROJECT_ID</key>
	<string>cache-5d175</string>
	<key>STORAGE_BUCKET</key>
	<string>cache-5d175.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531224139665:ios:50ed42a542f9a88ea06c30</string>
</dict>
</plist>